@import "./variables";

.container {
	margin: 0 auto;
	margin-top: 100px;
	width: 320px;
}
.countryDetail {
	&__button {
		padding: 15px 55px;
		color: $theme-color;
		border: 1px solid $theme-color;
	}
	&__mainInfo {
		display: flex;
		justify-content: space-evenly;
		margin-bottom: 80px;
		span {
			font-weight: 800;
			font-size: 24px;
			color: $theme-color;
			padding-top: 180px;
		}
	}
	&__subInfo {
		color: $theme-color;
		font-size: 16px;
		font-weight: 500;
		span {
			padding:6px 22px;
		}
		li {
			:first-child {
				font-weight: 700;
			}
		}
	}
}
